.weatherField {
	max-width: 1366px;
	width: 95%;
	margin: 3rem auto;
	display: grid;
	grid-template-columns: 24% 75%;
	grid-row: 1fr;
	grid-gap: 1%;
	padding: 3rem 2rem 3rem 2rem;
	background-color: rgba(0,0,0,.8);
	border-radius:  15px;
	box-shadow:
	inset rgba(0,0,0,.6) 0 -3px 8px,
	inset rgba(252,255,255,.7) 0 1px 5px,
	rgba(0,0,0,.8) 0 3px 8px -3px;
}
.currentWeather {
	color: white;
	width: 100%; 
}
.forecast {
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-size: 0.85rem;
}
.temperature {
	justify-content: center;
}
.temperature p:first-child {
	margin: 0;
	font-size: 3rem;
}
.footerWeather {
	display: flex;
	justify-content: space-around;
	font-size: 0.8rem;
	width: 100%;
}
.footerWeather p {
	padding: 0px 10px;
}

@media (max-width: 576px) {
	
}
@media (max-width: 1200px) { 
    .weatherField {
    	grid-template-columns: 1fr;
		grid-row: 2fr;
		padding-top: 1rem;
   }
   .forecast {
   		flex-direction: column;
   }
   .curentWeather {
   		padding-right: 1rem;
   }
   .footerWeather {
   		justify-content: center;
   }
}

