.search {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 0.5rem 0.5rem;
	border-radius: 30px;
	background-color: rgba(0,0,0,.5);
	margin: 3rem auto 0px auto;
	border: 2px solid black;
	position: relative;
}

.search input {
	background-color: rgba(0,0,0,0);;
	width: 65%;
	font-size: 1.1rem;
	padding-left: 1rem;
	border: none;
	color: white;
	outline: none;
}

.search input::placeholder {
	color: white;
}

.autocomplete {
	background-color: rgba(255,255,255,.9);
	position: absolute;
	width: 87.6%;
	top: 100%;
	left: 6%;
	border-radius: 10px;
}

.autocomplete p { 
	margin: 0;
	cursor: default;
}

.autocomplete div:first-child {
	border-radius: 10px 10px 0 0;
}

.autocomplete div:last-child {
	border-radius: 0 0 10px 10px;
}

.geo {
	display: flex;
	padding: 5px 10px;
	text-align: start;
}

.geo:hover { 
	background-color: #0d5c1d;
	color: white;
}

.search button {
	width: 35%;
	padding: 0.5rem 0.5rem;
	font-family: inherit;
	font-size: 1rem;
	color: #111;
	text-align: center;
	text-shadow: 0 0 2px rgba(255, 255, 255, 1);
	background-color: #ccc;
    border: 1px solid black;
	border-color: #202020 #1a1a1a #111;
	border-radius: 30px;
	background-image: -webkit-linear-gradient(top, #efefef, #777);
	background-image: -moz-linear-gradient(top, #efefef, #777);
	background-image: -o-linear-gradient(top, #efefef, #777);
	background-image: linear-gradient(to bottom, #efefef, #777);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
}

.search button::-moz-focus-inner {
   border: 0;
}


@media (max-width: 576px) {
	.autocomplete {
		width: 87%;
		padding: 0;
	}
}

@media (min-width: 800px) {
	.search button {
		width: 25%;
	}
	
}