.search {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 0.5rem 0.5rem;
	border-radius: 30px;
	background-color: rgba(0,0,0,.5);
	margin: 3rem auto 0px auto;
	border: 0.5px solid black;
	position: relative;
}

.search input {
	background-color: rgba(0,0,0,0);;
	width: 65%;
	font-size: 1.1rem;
	padding-left: 1rem;
	border: none;
	color: white;
	outline: none;
}

.search input::placeholder {
	color: white;
}

.autocomplete {
	background-color: rgba(255,255,255,.9);
	position: absolute;
	width: 87.6%;
	top: 100%;
	left: 6%;
	border-radius: 10px;
}

.autocomplete p { 
	margin: 0;
	cursor: default;
}

.autocomplete div:first-child {
	border-radius: 10px 10px 0 0;
}

.autocomplete div:last-child {
	border-radius: 0 0 10px 10px;
}

.geo {
	display: flex;
	padding: 5px 10px;
	text-align: start;
}

.geo:hover { 
	background-color: #4dc9fa;
	color: white;
}

.search button {
	width: 35%;
	padding: 0.5rem 0.5rem;
	border-radius: 15px;
	box-shadow: 0 1px 1px rgba(255,255,255, .6);
	border: none;
	text-shadow: 0 0 2px rgba(255, 255, 255, 1);
	background-image: -webkit-linear-gradient(top, #efefef, #777);
	background-image: -moz-linear-gradient(top, #efefef, #777);
	background-image: -o-linear-gradient(top, #efefef, #777);
	background-image: linear-gradient(to bottom, #efefef, #777); 
	cursor: pointer;
	outline: none;
}

.search button::-moz-focus-inner {
   border: 0;
}


@media (max-width: 576px) {
	.autocomplete {
		width: 87%;
		padding: 0;
	}
}

@media (min-width: 800px) {
	.search button {
		width: 25%;
	}
	
}